# Copied from '.gitignore', please keep it in sync.
/.eslintcache
/.stryker-tmp
/node_modules
/reports
/npmDist
/denoDist
/websiteDist
/website

# Ignore TS files inside integration test
/integrationTests/ts/*.ts
