# Copied from '.gitignore', please keep it in sync.
/diff-npm-package.html
/.eslintcache
/.stryker-tmp
/node_modules
/reports
/npmDist
/npmEsmDist
/denoDist
/websiteDist
/website/out
/website/**/*.mdx
.next
